* {
  font-family: 'Mitr', 'Noto Sans KR', sans-serif;
}

.Main {
  padding: 5vh 3vw;
  text-align: center;
  font-size: 30px;
}

.Genre {
  padding: 5vh 0;
  display: flex;
  justify-content: space-around;
}

hr{
  border: 0;
  border-top: 1px solid black;
  background-color: black;
  width: 5vw;
}

.GenreList {
  font-size: 31px;
  width: 15vw;
  height: 15vw;
  min-width: 144px;
  min-height: 144px;
  max-width: 200px;
  max-height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-image: url("https://cdn.discordapp.com/attachments/882306005772427284/1033297468064018482/vinyl.jpg");
  background-size: cover;
  opacity: .7;
  background-position: center;
  border-radius: 50%;
  color: white;
  -webkit-text-stroke: 2px #7e7e7e;
  /* text-shadow: 3px 4px 2px #5963f291; */
  transition: transform .5s;
}

a {
  text-decoration: none;
}

.GenreList:hover {
  transform: rotatez(360deg);
  /* background-size: 18vw 18vw; */
  /* color: ; */
}

.Recommend {
  /* padding-bottom: ; */
  font-size: 3vw;
}

.Recommend {
  /* padding-bottom: ; */
  font-size: 3vw;
}

img {
  width: 300px;
}

@media screen and (max-width:768px) {

  .GenreList {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:992px) {

  .detail {
    margin-top: 20px;
  }
}
