.Main{
  padding: 5vh 3vw;
  text-align: center;
  font-size: 30px;
}
.Genre {
  padding: 5vh 0;
  display: flex; 
  justify-content: space-around;
}
.GenreList{
  font-size: 3vh;
  width:15vh; 
  height:15vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
}
