*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

html, body {
  width: 100%;
  height: auto;
  padding:0;
  margin:0;
  overflow: visible;
}

#main{width:100%; overflow-x:hidden; transition: margin-left .5s;}
#Icon{transition: margin-left .5s;}

.NavigationBar{
  list-style-type: none;
  margin: 0;
  padding: 0vh 10vw;
  overflow: hidden;
  font-size: 20px;
  display: block;
  max-height: 69px;
}
.NavigationBar li{float:right;}
.NavigationBar li#Icon{float:left;}
.NavigationBar li a{
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding:21.5px 1vw;
}

.NavigationBar li a i{padding-top:0.5vh;}

.NavigationBar li:hover{background-color: black;}
.NavigationBar li:hover a{color: white;}
.NavigationBar li:hover ul li a{color: black;}

#Icon:hover{background-color: transparent;}
#Icon:hover a{color: black;}

.dropdown li:hover{background-color: grey;}

.dropdown{
  padding: 0;
  list-style: none;
  display: none;
  float:left;
  background: white;
  z-index: 1;
}
.dropdown li{
  position: relative;
  display: block;
  float:none;
  left:0;
}
.dropdown li a{padding:1vh 2.5vw 1vh 1vw; float:left; text-align: left; width:100%; color:black;}
.dropdown li div{width:100%; display:inline;}
.dropdown li div a{width:80%;}
.dropdown li div span{width:20% ;float:right; padding: 1vh 0vw;}

.dropdown li a:hover{background-color: grey;}

#categoriesDrop, #moreDrop{min-width: 12vw; position: absolute;}

#Categories:hover #categoriesDrop{display: block; position: absolute; margin-top:-3px;} 
#More:hover #moreDrop{display: block; position: absolute; margin-top:-3px;}

#Menu{float:left; display:none;}

@media screen and (max-width:950px) {
  #More, #ShopAll, #Categories, #New{display: none;}
  #Menu {display: block;}
  #Icon {position: absolute; left: 50%;transform: translate(-50%, 0%);}
}

@media screen and (max-width:600px) {
  #Account{display: none;}
}

.SideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.5s;
  padding:0;
  padding-top: 60px;
}

.SideNav a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: inline-block;
  transition: 0.3s;
}
.SideNav a:hover{text-decoration: none;}

.sideDropdown{
  padding:0;
  list-style: none;
  display: none;
  float:left;
  color: white;
  z-index: 2;
}
.sideDropdown li{
  padding-left:30px;
  position: relative;
  display: block;
  float:none;
  left:0;
}
#SideCategories:hover #SideCategoriesDrop{display: block;}
#SideMore:hover #SideMoreDrop{display: block;}
