* {font-family: 'Mitr', 'Noto Sans KR', sans-serif;}

.product-container{
    display: grid;
    column-gap: 2%;
    grid-template-columns: 49% 49%;
    margin: 20vh 0vh;
}

.pic-product{
    padding: 5%;
    margin: 2%;
}

.img-container{
    position: relative;
    display: inline-block;
}

#pic-record{ 
    width:75%;
    margin-left: 15%;
}

.info-product{  
    padding: 5% 15% 10% 5%;
    margin: 2%;
    position: relative;
}

.infoStk{
    position: sticky;
    top: 0;
}
#btn-p{
    position: absolute;
    top: 85%;
    right: 0%;
    transition: fill .5s;
}

#btn-p:hover ellipse{
    fill: #1999b0;
}

.addProduct-container{
    display: flex;
    justify-content: end;
}

.addProduct-container a{
    background-color: #116979;
    color: white;
    text-decoration:none;
    margin: 10px 0 0 0;
    min-width: 155px;
    min-height: 56px;
    border-radius: 28px;
    font-size: 1.2em;
    border: none;
    outline: none;
}

.addProduct-container a:hover{
    background-color: #1999b0;
    color: white;;
    text-decoration:none;
}

@media only screen and (max-width: 600px){
    .product-container{
        grid-template-columns: auto;
        row-gap: 2%;
    }   
    #pic-record{
        margin-left: 15vw;
        width: 55vw;
    }

    #btn-p{
        position: absolute;
        right: -15%;
    }
}
